In [16]:
#import dependencies
import pandas as pd
import json
import requests
import numpy as np
from scipy import stats
import datetime as dt
import random
import warnings
warnings.filterwarnings("ignore")

In [24]:
#file path to csv
hate_crime_csv = "Resources/hate_crime.csv"
#import csv to dataframe
hate_crime_df = pd.read_csv(hate_crime_csv, low_memory = False)
hate_crime_df.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,NaN,City,AR,Arkansas,West South Central,South,...,White,NaN,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

In [18]:
#filter data to reflect needed info
filtered_df = hate_crime_df[["DATA_YEAR", "REGION_NAME","INCIDENT_DATE","OFFENSE_NAME","BIAS_DESC"]]

filtered_df.head()

,DATA_YEAR,REGION_NAME,INCIDENT_DATE,OFFENSE_NAME,BIAS_DESC
0,1991,South,31-AUG-91,Intimidation,Anti-Black or African American
1,1991,South,19-SEP-91,Simple Assault,Anti-White
2,1991,South,04-JUL-91,Aggravated Assault,Anti-Black or African American
3,1991,South,24-DEC-91,Aggravated Assault;Destruction/Damage/Vandalis...,Anti-White
4,1991,South,23-DEC-91,Aggravated Assault,Anti-White

In [19]:
#filter data by year in DataFrames
year_filter = filtered_df[(filtered_df["DATA_YEAR"]>= 2014) & (hate_crime_df["DATA_YEAR"] <= 2018)]

In [20]:
#Determine Quarter for the data 
year_filter["INCIDENT_DATE"] = pd.to_datetime(year_filter["INCIDENT_DATE"])
year_filter['Quarter'] = year_filter['INCIDENT_DATE'].dt.quarter

year_filter.head()

,DATA_YEAR,REGION_NAME,INCIDENT_DATE,OFFENSE_NAME,BIAS_DESC,Quarter
169146,2014,West,2014-12-06,Destruction/Damage/Vandalism of Property,Anti-Gay (Male),4
169147,2014,West,2014-07-18,Aggravated Assault,Anti-American Indian or Alaska Native,3
169148,2014,West,2014-07-09,Simple Assault,Anti-Black or African American,3
169149,2014,West,2014-09-26,Robbery,Anti-American Indian or Alaska Native,3
169150,2014,West,2014-09-30,Simple Assault,Anti-American Indian or Alaska Native,3

In [23]:
#Seperate all of Quarter 1 
Q1 = year_filter[(year_filter["Quarter"]==1)]

Q1.head()

,DATA_YEAR,REGION_NAME,INCIDENT_DATE,OFFENSE_NAME,BIAS_DESC,Quarter
169153,2014,South,2014-03-22,Simple Assault,Anti-Jewish,1
169169,2014,South,2014-02-17,Intimidation,Anti-Black or African American,1
169173,2014,West,2014-01-24,Intimidation,Anti-Black or African American,1
169174,2014,West,2014-01-24,Intimidation,Anti-Gay (Male),1
169175,2014,West,2014-01-28,Simple Assault,Anti-Gay (Male),1