In [93]:
# Dependencies
import pandas as pd
import pprint as pprint
import matplotlib.pyplot as plt
import numpy as np

In [94]:
# create file path 
hate_crime_csv = "hate_crime.csv"

In [95]:
# read the csv

hate_crime_df = pd.read_csv(hate_crime_csv, low_memory=False)
hate_crime_df.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,NaN,City,AR,Arkansas,West South Central,South,...,White,NaN,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

In [96]:
# filter by year 2014-2018 (5Years)

filtered_hate_crime_df = hate_crime_df[(hate_crime_df["DATA_YEAR"] >= 2014) & (hate_crime_df["DATA_YEAR"] <= 2018)]
filtered_hate_crime_df.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
169146,174732,2014,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,...,Unknown,Unknown,2,Destruction/Damage/Vandalism of Property,2.0,Residence/Home,Anti-Gay (Male),Individual,S,S
169147,174733,2014,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,...,White,Unknown,1,Aggravated Assault,1.0,Parking/Drop Lot/Garage,Anti-American Indian or Alaska Native,Individual,S,S
169148,174734,2014,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,...,White,Unknown,1,Simple Assault,1.0,Shelter-Mission/Homeless,Anti-Black or African American,Individual,S,S
169149,174735,2014,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,...,Black or African American,Unknown,2,Robbery,2.0,Parking/Drop Lot/Garage,Anti-American Indian or Alaska Native,Individual,S,S
169150,174736,2014,AK0010100,Anchorage,NaN,City,AK,Alaska,Pacific,West,...,White,Unknown,1,Simple Assault,1.0,Parking/Drop Lot/Garage,Anti-American Indian or Alaska Native,Individual,S,S

In [97]:
# Sort the states by their STATE_NAME
state_df = filtered_hate_crime_df.sort_values("STATE_NAME")
state_df

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
180637,180590,2016,AL0010200,Birmingham,NaN,City,AL,Alabama,East South Central,South,...,White,Unknown,2,Intimidation,2.0,Parking/Drop Lot/Garage,Anti-Black or African American,Individual,S,S
186907,191575,2017,AL0110800,Jacksonville State University,NaN,University or College,AL,Alabama,East South Central,South,...,Black or African American,Not Hispanic or Latino,1,Intimidation,1.0,School-College/University,Anti-White,Individual,S,S
186906,598847,2017,AL0011200,Hoover,NaN,City,AL,Alabama,East South Central,South,...,White,Unknown,1,Intimidation,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
186905,598829,2017,AL0011200,Hoover,NaN,City,AL,Alabama,East South Central,South,...,Unknown,Unknown,1,Destruction/Damage/Vandalism of Property,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
186904,546958,2017,AL0011200,Hoover,NaN,City,AL,Alabama,East South Central,South,...,White,Unknown,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194207,194469,2017,WY0010200,University of Wyoming,NaN,University or College,WY,Wyoming,Mountain,West,...,Multiple,Multiple,20,Intimidation,20.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual,S,S
194206,193399,2017,WY0010100,Laramie,NaN,City,WY,Wyoming,Mountain,West,...,Unknown,Unknown,1,Destruction/Damage/Vandalism of Property,NaN,Restaurant,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",Business,S,S
180623,180578,2015,WY0030100,Gillette,NaN,City,WY,Wyoming,Mountain,West,...,White,NaN,1,Simple Assault,1.0,Shelter-Mission/Homeless,Anti-Black or African American,Individual,S,S
186891,186844,2016,WY0030100,Gillette,NaN,City,WY,Wyoming,Mountain,West,...,White,Unknown,1,Simple Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
194205,190213,2017,WY0010100,Laramie,NaN,City,WY,Wyoming,Mountain,West,...,Unknown,Unknown,1,Destruction/Damage/Vandalism of Property,NaN,Church/Synagogue/Temple/Mosque,Anti-Protestant,Religious Organization,S,S

In [98]:
# Interesting Columns of Info for Presentation
columns_df = state_df[['INCIDENT_DATE', 'DATA_YEAR', 'PUB_AGENCY_NAME', 'STATE_NAME', 'POPULATION_GROUP_DESC', 'OFFENSE_NAME', 'BIAS_DESC']]
columns_df.head()

,INCIDENT_DATE,DATA_YEAR,PUB_AGENCY_NAME,STATE_NAME,POPULATION_GROUP_DESC,OFFENSE_NAME,BIAS_DESC
180637,25-MAR-16,2016,Birmingham,Alabama,"Cities from 100,000 thru 249,999",Intimidation,Anti-Black or African American
186907,23-SEP-17,2017,Jacksonville State University,Alabama,"Cities under 2,500",Intimidation,Anti-White
186906,30-AUG-17,2017,Hoover,Alabama,"Cities from 50,000 thru 99,999",Intimidation,Anti-Black or African American
186905,31-JUL-17,2017,Hoover,Alabama,"Cities from 50,000 thru 99,999",Destruction/Damage/Vandalism of Property,Anti-Black or African American
186904,06-JUN-17,2017,Hoover,Alabama,"Cities from 50,000 thru 99,999",Simple Assault,Anti-Black or African American

In [99]:
# Making sure there is data in every column. If there were NA's, drop them.
columns_df.count()

INCIDENT_DATE            32257
DATA_YEAR                32257
PUB_AGENCY_NAME          32257
STATE_NAME               32257
POPULATION_GROUP_DESC    32257
OFFENSE_NAME             32257
BIAS_DESC                32257
dtype: int64

In [100]:
#Determine the amount of States. If there are any to ignore, do so.

len(columns_df["STATE_NAME"].unique())

53

In [101]:
# Hate Crime counts for each state for the years of 
state_count_df = columns_df["STATE_NAME"].value_counts()
state_count_df

California              4696
New York                2719
Ohio                    2060
New Jersey              2021
Washington              2006
Massachusetts           1975
Michigan                1924
Arizona                 1191
Kentucky                1190
Texas                   1119
Tennessee                872
Virginia                 771
North Carolina           756
District of Columbia     657
Minnesota                596
Oregon                   546
Florida                  535
Connecticut              518
Illinois                 503
Colorado                 478
Missouri                 443
Indiana                  391
Kansas                   340
Pennsylvania             321
South Carolina           291
Utah                     264
Maryland                 249
West Virginia            245
Wisconsin                237
Georgia                  188
Nebraska                 175
Louisiana                164
Oklahoma                 163
Nevada                   161
Maine                    159
Idaho                    154
Montana                  133
Vermont                  124
North Dakota             115
New Mexico               111
Delaware                  89
South Dakota              87
New Hampshire             84
Mississippi               81
Arkansas                  76
Iowa                      59
Rhode Island              59
Alabama                   49
Hawaii                    44
Alaska                    36
Federal                   22
Wyoming                    9
Guam                       1
Name: STATE_NAME, dtype: int64

In [102]:
len(columns_df["PUB_AGENCY_NAME"].unique())

3401

In [103]:
###### This is where I need to update the cities by the population to get refined data for populations over 250,000.

cities_count_df = columns_df.loc[(columns_df['POPULATION_GROUP_DESC'] == "Cities from 250,000 thru 499,999") | (columns_df['POPULATION_GROUP_DESC'] == "Cities from 500,000 thru 999,999") | (columns_df['POPULATION_GROUP_DESC'] == "Cities 1,000,000 or over"), ['INCIDENT_DATE', 'DATA_YEAR', 'PUB_AGENCY_NAME', 'STATE_NAME', 'POPULATION_GROUP_DESC', 'OFFENSE_NAME', 'BIAS_DESC'] ]
cities_count_df

,INCIDENT_DATE,DATA_YEAR,PUB_AGENCY_NAME,STATE_NAME,POPULATION_GROUP_DESC,OFFENSE_NAME,BIAS_DESC
169146,06-DEC-14,2014,Anchorage,Alaska,"Cities from 250,000 thru 499,999",Destruction/Damage/Vandalism of Property,Anti-Gay (Male)
174747,31-JUL-15,2015,Anchorage,Alaska,"Cities from 250,000 thru 499,999",Intimidation,Anti-Black or African American
174748,11-JUN-15,2015,Anchorage,Alaska,"Cities from 250,000 thru 499,999",Arson,"Anti-Lesbian, Gay, Bisexual, or Transgender (M..."
174749,03-AUG-15,2015,Anchorage,Alaska,"Cities from 250,000 thru 499,999",Aggravated Assault,Anti-Black or African American
180624,12-FEB-16,2016,Anchorage,Alaska,"Cities from 250,000 thru 499,999",Simple Assault,Anti-Black or African American
...,...,...,...,...,...,...,...
174709,24-JUN-14,2014,Milwaukee,Wisconsin,"Cities from 500,000 thru 999,999",Robbery,Anti-White
174708,23-MAY-14,2014,Milwaukee,Wisconsin,"Cities from 500,000 thru 999,999",Intimidation,Anti-Jewish
174707,21-APR-14,2014,Milwaukee,Wisconsin,"Cities from 500,000 thru 999,999",Intimidation,Anti-Other Race/Ethnicity/Ancestry
174706,17-FEB-14,2014,Milwaukee,Wisconsin,"Cities from 500,000 thru 999,999",Intimidation,Anti-Gay (Male)
174705,09-FEB-14,2014,Milwaukee,Wisconsin,"Cities from 500,000 thru 999,999",Intimidation,Anti-Catholic

In [104]:
# Counts of all cities within the 250,000 pop criteria
pop_cities_df = cities_count_df[('PUB_AGENCY_NAME')].value_counts()
pop_cities_df

New York       1644
Los Angeles    1116
Phoenix         914
Seattle         840
Boston          640
               ...
Chandler          6
Anaheim           4
Tulsa             2
Reno              2
Gilbert           1
Name: PUB_AGENCY_NAME, Length: 85, dtype: int64

In [105]:
# Showing the top 20 states
# Display the data with a clean layout
most_hate_crime_df = pd.DataFrame(pop_cities_df)
most_hate_crime_df.head(20)

                       PUB_AGENCY_NAME
New York                          1644
Los Angeles                       1116
Phoenix                            914
Seattle                            840
Boston                             640
Columbus                           605
Washington                         599
Chicago                            242
Cincinnati                         202
San Francisco                      197
Kansas City                        197
San Diego                          189
Detroit                            154
Minneapolis                        154
Lexington                          151
Indianapolis                       145
Philadelphia                       140
Charlotte-Mecklenburg              136
San Jose                           118
Lincoln                            104

In [86]:
# Showing the bottom 20 states
# Display the data with a clean layout 
least_hate_crime_df = pd.DataFrame(pop_cities_df)
least_hate_crime_df.tail(20)

                PUB_AGENCY_NAME
Jersey City                  16
Oklahoma City                16
Chula Vista                  13
Jacksonville                 12
Irvine                       11
Baltimore                    11
Fort Wayne                   11
Miami                        10
Lubbock                       9
El Paso                       9
Scottsdale                    9
Newark                        8
Plano                         8
Corpus Christi                8
Tampa                         7
Chandler                      6
Anaheim                       4
Tulsa                         2
Reno                          2
Gilbert                       1